// START OF MIXINS,VARIABLES ********************

$primary-color-1: hsl(217, 19%, 35%);
$primary-color-2: hsl(214, 17%, 51%);
$neutral-color-1: hsl(212, 23%, 69%);
$neutral-color-2: hsl(210, 46%, 95%);

$font-size-body: 0.8125rem;

$font-family-main: "Manrope", sans-serif;

$font-weight-500: 500;
$font-weight-700: 700;


$breakpoints: (
  "tablet": 48em,
  "laptop": 64em,
  "desktop": 90em,
);


// END OF MIXINS,VARIABLES ********************





// START RESET *********************
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $neutral-color-2;
  font-family: $font-family-main;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
// END RESET *********************

// START ACCESSIBILITY STYLES ************************

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


// END ACCESSIBILITY STYLES ************************


// START ARTICLE STYLES ***************************

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__main {
  display: grid;
  margin-inline: 1.5rem;
  border-radius: 12px;
  margin-block-start: 4.625rem; 
  margin-block-end: 5.5625rem; 
  overflow: hidden;
  max-width: 60rem;
  
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    width: 40rem;
  }
  
  @media screen and (min-width: map-get($breakpoints, "laptop")) {
    grid-template-columns: 40% 60%;
    width: 45rem;
    box-shadow: 0 8px 24px rgba(0,0,0, 0.15);
  }
}

// FIRST APPROACH FOR IMAGE *************
.article__img {
  position: relative;
  z-index: -1;
  transform: translate(0px, 41px);

  @media screen and (min-width: map-get($breakpoints, 'laptop')) {
    // transform: translate(70px, 0px);
    transform: translate(0px, 0px);
    width: 22rem;
    position: static;
  }

  img {
  border-radius: 12px;
  
  @media screen and (min-width: map-get($breakpoints, "laptop")) {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

.article__container {
  background-color: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 8px 24px rgba(0,0,0, 0.15);

  @media screen and (min-width: map-get($breakpoints, "laptop")) {
    padding-inline: 2rem;
    padding-block-start: 2.5rem;
    box-shadow: none;
    width: 27rem;
    position: static;
  }
}
// FIRST APPROACH FOR IMAGE *************

.article__content {
  padding-block-start: 2.25rem;
  padding-block-end: 2rem;
  padding-inline: 2rem;

  @media screen and (min-width: map-get($breakpoints, "laptop")) {
    padding-inline: 0px;
    padding-block: 0px;
  }

  h2 {
    font-size: 1rem;
    color: $primary-color-1;
    margin-block-end: .75rem;

    @media screen and (min-width: map-get($breakpoints, "laptop")) {
      font-size: 1.25rem;
      line-height: 28px;
    }
  }

  p {
    font-size: $font-size-body;
    font-weight: $font-weight-500;
    color: $primary-color-2;
    line-height: 20px;
  }
}

.article__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.375rem;
  padding-inline: 2rem;
  position: relative;


  @media screen and (min-width: map-get($breakpoints, "laptop")) {
    padding-block-start: 1.25rem;
    padding-block-end: 0px;
    padding-inline: 0px;
    position: static;
  }


  .article__author {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    &-info {
      line-height: 20px;

      h3 {
        font-size: $font-size-body;
        color: $primary-color-1;
        font-weight: $font-weight-700;
        margin-block-end: -0.175rem;
      }

      span {
        font-size: $font-size-body;
        color: $primary-color-2;
        font-weight: $font-weight-500;
      }
    }
  }
}
// END ARTICLE STYLES ***************************


// START SHARE BUTTON STYLES ************************
.disclosure__button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: $neutral-color-2;
  position: relative;
  z-index: 2;



  &[aria-expanded="false"] {
    + .disclosure__content {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    background-color: $primary-color-2;

    svg path {
      fill: #fff;
    }

    + .disclosure__content {
      display: flex;
    }
  }

}

// END SHARE BUTTON STYLES ************************


// START SHARE CONTENT STYLES ****************************
.disclosure__content {
  background-color: $primary-color-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-inline: 2rem;
  

  @media screen and (min-width: map-get($breakpoints, 'laptop')) {
    position: absolute;
    top: 210px;
    left: 700px;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    padding-inline: 2.25rem;
    padding-block: 1.125rem;
    border-radius: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 40%;
      right: -50%;
      width: 0;
      border-top: 24px solid $primary-color-1;
      border-left: 24px solid transparent;
      border-bottom: 24px solid transparent;
      border-right: 24px solid transparent;
    }
  }


  .article__share-content {
    display: flex;
    gap: 1.25rem;

    

    h4 {
      font-size: $font-size-body;
      text-transform: uppercase;
      color: $neutral-color-1;  
      letter-spacing: 5px;
    }

    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      
    }
  }
}
// END SHARE CONTENT STYLES ****************************
